<ion-header>
  <ion-toolbar color="primary">
    
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"  style="width: 40px; height: 40px;"/>
      </ion-avatar>
     
  
    <ion-title class="ion-text-center ion-title-center">Home</ion-title>
    
    
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-searchbar show-clear-button="always" value="Search"></ion-searchbar>
  <!-- segment -->
 
  
</ion-content>